{% extends 'index.html' %}

{% block content %}
<style>
    .headder{
        text-align: center;
        width:50%;
        margin: auto;
    }
</style>


<div class="content">
    <div class="headder">
        <h1 class="text-warning text-center display-4">Create app Password</h1>
        <h3 class="text-danger">You Dont Have App Password Create one for Transaction Access</h3>
        <br>    
        <form method="post">
            {% csrf_token %}
            <input type="password" name="pswd1" required class="form-control" placeholder="Password"><br>
            <input type="password" name="pswd2" required class="form-control" placeholder="Confirm Password"><br>

            <button class="btn btn-primary">Add password</button>

        </form>
    </div>

    <div class="items">

    </div>
</div>

{% endblock %}
