{% extends 'index.html' %}

{% block content %}
<style>
    .headder{
        text-align: center;
        width:50%;
        margin: auto;
    }
</style>


<div class="content">
    <div class="headder">
        <h1 class="text-warning text-center display-4">Enter Password To access</h1>
        <h3 class="text-danger">Enter Password</h3>
        {% for message in messages %}
        <h5 style="color:red">{{message}}</h5>
        {% endfor %}
        <br>    
        <form method="post">
            {% csrf_token %}
            <input type="password" name="pswd1" required class="form-control" placeholder="Password"><br>
            <!-- <input type="password" name="pswd2" required class="form-control" placeholder="Confirm Password"><br> -->

            <button class="btn btn-primary">Submit</button>

        </form>
    </div>

    <div class="items">

    </div>
</div>

{% endblock %}
