<!-- <!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'css/style.css' %}">
    <title>Document</title>
    
</head>
<body>
    <script>
        var credentials = {
          username : 'arushi.b',
          email: 'arushi.b@abc.com',
          password : 'jslogin'
        }
        function checkCredentials(){
          var usr = document.getElementById("username").value;
          var pwd = document.getElementById("password").value;     
          if(credentials.username === usr && credentials.password === pwd){
             alert('Login Successfully');
             }
          else
            alert('Incorrect username or password')
        }
        </script>
      
      </head>
      <body>
        
        <form id="loginpage" method="post">
          {% csrf_token %}
            
          <h1>Login</h1>

          {% for message in messages %}
          <h5 style="color:red">{{message}}</h5>
          {% endfor %}
          <label>Username</label>
          <br>
          <input type="text" id="username" class="username" name="uname" placeholder="">
          <br>
          <label>Password</label>
          <br>
          <input type="password" id="password" class="password" name="pswd" placeholder="">
          <br>
          <input type="checkbox" name="remember">
          <label style="font-size:15px">Remember me?</label> -->
          <!-- <br>
          <button id="login" class="login" type="submit">Log in</button>
          <br>
          <label style="font-size:15px">Dont Have an Accout Click<a href="{%url 'SignUp' %}">Here</a></label>
          </form>
        
      </body>
    
</body>
</html> --> 


<!DOCTYPE html>
{% load static %}
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>digitalex</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" href="{%static 'css/bootstrap.min.css' %}">
      <!-- style css -->
      <link rel="stylesheet" href="{%static 'css/style.css' %}">
      <!-- Responsive-->
      <link rel="stylesheet" href="{%static 'css/responsive.css' %}">
      <!-- fevicon -->
      <link rel="icon" href="{%static 'images/fevicon.png' %}" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="{%static 'css/jquery.mCustomScrollbar.min.css' %}">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->

      <style>
        .logincon{
          width:100%;
          margin: auto;
        }
        .logincon input{
          width:80%;
          padding: 10px;
          border: 1px solid darkblue;
          border-radius: 5px;

        }
        .logincon label{
          color: darkblue;
        }
      </style>
   </head>
   <!-- body -->
   <body class="main-layout">
      <!-- loader  -->
      <div class="loader_bg">
         <div class="loader"><img src="{%static 'images/loading.gif' %}" alt="#" /></div>
      </div>
      <!-- end loader -->
      <!-- header -->
      <header>
         <!-- header inner -->
         <div class="header">
            <div class="white_bg">
               <div class="container-fluid">
                  <div class="row">
                     <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                        <div class="full">
                           <div class="center-desk">
                              <div class="logo">
                                 <a href="index.html"><img src="{%static 'images/logo.png' %}" alt="#" /></a>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                        <nav class="navigation navbar navbar-expand-md navbar-dark ">
                           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                           <span class="navbar-toggler-icon"></span>
                           </button>
                           <div class="collapse navbar-collapse" id="navbarsExample04">
                              <ul class="navbar-nav mr-auto">
                                 
                                 
                                 <li class="nav-item d_none le_co">
                                    <!-- <a class="nav-link" href="#"><i  class="fa fa-user" aria-hidden="true"></i> Register</a> -->
                                 </li>
                               
                              </ul>
                           </div>
                        </nav>
                     </div>
                  </div>
               </div>
               <!-- end header inner -->
               <!-- end header -->
               <!-- banner -->
               <style>
                .headder{
                    text-align: center;
                    width:50%;
                    margin: auto;
                }
            </style>
            
            
            <div class="content">
                <div class="headder">
                    <h1 class="text-warning text-center display-4">Reset App Password </h1>
                    <h3 class="text-danger">Enter Password {{request.user.first_name}}</h3>
                    {% for message in messages %}
                    <h5 style="color:red">{{message}}</h5>
                    {% endfor %}
                    <br>    
                    <form method="post">
                        {% csrf_token %}
                        <input type="password" name="pswd1" required class="form-control" placeholder="App Password"><br>
                        <input type="password" name="pswd2" required class="form-control" placeholder="App Confirm Password"><br>
                        <!-- <input type="password" name="pswd2" required class="form-control" placeholder="Confirm Password"><br> -->
            
                        <button class="btn btn-primary">Reset</button>
            
                    </form>
                </div>
            
                <div class="items">
            
                </div>
            </div>
            </div>
         </div>
      

       <!--  footer -->
       <footer >
        <div class="footer">
           
           <div class="copyright">
              <div class="container">
                 <div class="row">
                    <div class="col-md-10 offset-md-1">
                       <p>Copyright 2024 All Right Reserved By<a href=""> Expence</a></p>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </footer>
     <!-- end footer -->
     <!-- Javascript files-->
     <script src="{%static 'js/jquery.min.js' %}"></script>
     <script src="{%static 'js/popper.min.js' %}"></script>
     <script src="{%static 'js/bootstrap.bundle.min.js' %}"></script>
     <script src="{%static 'js/jquery-3.0.0.min.js' %}"></script>
     <!-- sidebar -->
     <script src="{%static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
     <script src="{%static 'js/custom.js' %}"></script>
  </body>
</html>